<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipes</title>
</head>
<body>

  <h1>Reciplease</h1>

  <form action="/recipes" method="GET">
    <input type="text" placeholder="name">
    <input type="submit" value="Enter">
  </form>

</body>
</html>