
  <%- include('../partials/navbar') %> 

  <h1>New Recipe</h1>

  <form action="/recipes" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name">
    </div>
    <div>
      <label for="image">Image</label>
      <input type="text" id="image" name="image">
    </div>
    <div>
      <label for="time">Time</label>
      <input type="number" id="time" name="time">
    </div>
    <div>
      <label for="ingredients">Ingredients</label>
      <input type="text" id="ingredients" name="ingredients">
      <button class="add-ingredient">Add Ingredient</button>
    </div>
    <div>
      <label for="directions">Directions</label>
      <textarea cols="80" rows="10" id="directions" name='directions'></textarea>
    </div>
    <div>
      <input type="submit" value="Add Recipe">
    </div>
  </form>


  <%- include('../partials/footer') %> 