
  <%- include('../partials/navbar') %> 


  <div class="container new-recipes">
  <h1>New Recipe</h1>
  
  <form action="/recipes" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" id="name" name="name" placeholder="Recipe Name">
      </div>
      <div class="col">
        <input type="text" id="image" name="image" placeholder="Image URL">
      </div>
      <div class="col">
        <input type="number" id="time" name="time" placeholder="Minutes to Prepare">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <textarea cols="80" rows="3" id="ingredients" name='ingredients' placeholder="Ingredients"></textarea>
      </div>
    </div>
    <div>
      <div class="col">
        <textarea cols="80" rows="10" id="directions" name='directions' placeholder="Directions"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="submit" value="Add Recipe">
      </div>
    </div>
  </form>
</div>
  
  
  <%- include('../partials/footer') %> 